<phpunit 
    bootstrap="vendor/autoload.php"
    colors="true"
>
  <testsuites>
    <testsuite name="main">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <blacklist>
      <directory>vendor</directory>
    </blacklist>
    <whitelist>
      <directory>src</directory>
    </whitelist>
  </filter>
</phpunit>

